<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>出账收入</title>

    <!-- Bootstrap -->
	  <link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <!-- HTML5 shim 和 Respond.js 是为了让 IE8 支持 HTML5 元素和媒体查询（media queries）功能 -->
    <!-- 警告：通过 file:// 协议（就是直接将 html 页面拖拽到浏览器中）访问页面时 Respond.js 不起作用 -->
    <!--[if lt IE 9]>
      <script src="https://cdn.jsdelivr.net/npm/html5shiv@3.7.3/dist/html5shiv.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/respond.js@1.4.2/dest/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    
    <!--导航条开始-->
	 <nav class="navbar navbar-default">
	  <div class="container-fluid">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" href="#">
	      	<font size="5">
	      		xx公司电信结算系统
	      	</font>
	      </a>
	    </div>
	
	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav navbar-right">
	        <li><a href="#">欢迎，xxx</a></li>
	        <li class="dropdown">
	          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">···<span class="caret"></span></a>
	          <ul class="dropdown-menu">
	            <li><a href="#">个人信息</a></li>
	            <li><a href="#">通知</a></li>
	            <li role="separator" class="divider"></li>
	            <li><a href="#">退出</a></li>
	          </ul>
	        </li>
	      </ul>
	    </div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav>  
    <!--导航条结束-->
      
	<!--布局容器开始-->
	<div class="container-fluid">
		<div class="row">
  			<div class="col-md-2">
					<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
					  <div class="panel panel-default">
					    <div class="panel-heading" role="tab" id="headingOne">
					      <h4 class="panel-title">
					        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
					          手工录入
					        </a>
					      </h4>
					    </div>
					    <div id="collapseOne" class="panel-collapse collapse " role="tabpanel" aria-labelledby="headingOne">

						      <div class="list-group">
									  <a href="chuzhang.html" class="list-group-item">出账收入</a>
									  <a href="kaxiaoshou.html" class="list-group-item">卡销售收入</a>
									  <a href="yucunzhuan.html" class="list-group-item">预存转收入</a>
									  <a href="wangjianjiesuan.html" class="list-group-item">网间结算收入</a>
									  <a href="tongzhidan.html" class="list-group-item">通知单收入</a>
									</div>

					    </div>
					  </div>
					  <div class="panel panel-default">
					    <div class="panel-heading" role="tab" id="headingTwo">
					      <h4 class="panel-title">
					        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
					          数据归集
					        </a>
					      </h4>
					    </div>
					    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
									<div class="list-group bg-info">
							  <a href="chuzhangshourugather.html" class="list-group-item">出账收入查询</a>
							  <a href="kaxiaoshoushourugather.html" class="list-group-item">卡销售收入查询</a>
							  <a href="yucunzhuanshourugather.html" class="list-group-item">预存转收入查询</a>
							  <a href="wangjianjiesuanshourugather.html" class="list-group-item">网间结算收入查询</a>
							  <a href="tongzhidanshourugather.html" class="list-group-item">通知单收入查询</a>
									</div>
					    </div>
					  </div>
					  <div class="panel panel-default">
					    <div class="panel-heading" role="tab" id="headingThree">
					      <h4 class="panel-title">
					        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
					         	收入稽核
					        </a>
					      </h4>
					    </div>
					    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
					      <div class="panel-body">
					      <a href="check_chuzhang.html" class="list-group-item">出账收入</a>
					      <a href="check_kaxiaoshou.html" class="list-group-item">卡销售收入</a>
					      <a href="check_yucunzhuan.html" class="list-group-item">预存转收入</a>
					      <a href="check_wangjian.html" class="list-group-item">网间收入</a>
					      <a href="check_tongzhidan.html" class="list-group-item">通知单收入</a>
					      <a href="check_message.html" class="list-group-item">我的稽核通知<span class="badge">1/0</span></a>
					      </div>
					    </div>
					  </div>
					</div>
  			</div>
  			<!--菜单结束-->
		  
  			<div class="col-md-10">
					<div class="panel panel-default">
					  <div class="panel-heading">
					    <h3 class="panel-title">出账收入查询（城市编码，产品编码，出账类型编码，录入月份）</h3>
					  </div>
					  <div class="panel-body">
					    <form class="form-horizontal">
							  <div class="form-group">
							    <label for="inputEmail3" class="col-sm-2 control-label">城市</label>
							    <div class="col-sm-4">
							      <select class="form-control">
							      	<option value="">请选择城市</option>
										  <option>1</option>
										  <option>2</option>
										  <option>3</option>
										  <option>4</option>
										  <option>5</option>
										</select>
							    </div>
							    <label for="inputPassword3" class="col-sm-2 control-label">产品</label>
							    <div class="col-sm-4">
							      <select class="form-control">
							      	<option value="">请选择产品</option>
										  <option>1</option>
										  <option>2</option>
										  <option>3</option>
										  <option>4</option>
										  <option>5</option>
										</select>
							    </div>
							  </div>
							  <div class="form-group">
							    <label for="inputEmail3" class="col-sm-2 control-label">出账类型</label>
							    <div class="col-sm-4">
							      <select class="form-control">
							      	<option value="">请选择类型</option>
										  <option>1</option>
										  <option>2</option>
										  <option>3</option>
										  <option>4</option>
										  <option>5</option>
										</select>
							    </div>
							    <label for="inputPassword3" class="col-sm-2 control-label">月份</label>
							    <div class="col-sm-4">
							      <input type="date" class="form-control" placeholder="date input">
							    </div>
							  </div>
							  <div class="form-group">
							    <div class="col-sm-offset-2 col-sm-10">
							      <button type="submit" class="btn btn-default">查询</button>&nbsp;&nbsp;
							      <button type="button" class="btn btn-default"><a href="ChuzhangAdd.html">录入</a></button>&nbsp;&nbsp;
								  <button type="submit" class="btn btn-default">导入</button>&nbsp;&nbsp;
								  <button type="submit" class="btn btn-default">导出</button>&nbsp;&nbsp;
								  <button type="submit" class="btn btn-default">批量删除</button>
							    </div>
							  </div>
							</form>
					  </div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading">
						  <h3 class="panel-title">查询结果</h3>
						</div>
						<div class="panel-body">
							<table class="table table-bordered">
								<tr>
									<th><input type="checkbox"></th>
									<th>月份</th>
									<th>城市编号</th>
									<th>产品编号</th>
									<th>出账类型</th>
									<th>修改日期</th>
									<th>录入金额</th>
									<th>操作</th>
								</tr>
								<tr th:each="account:${accountList}">
									<td><input type="checkbox"></td>
									<td th:text="${account.month}"></td>
									<td th:text="${account.cityCode}"></td>
									<td th:text="${account.productCode}"></td>
									<td th:text="${account.typeCode}"></td>
									<td th:text="${account.updateTime}"></td>
									<td th:text="${account.fee}"></td>
									<td>
										<a href="#">修改</a>
										<a href="#">删除</a>
									</td>

								</tr>

							</table>
						</div>
					</div>
			</div>
		</div>
	</div>
	<!--布局容器结束-->

	<!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
	<script src="../static/js/jquery-3.2.1.min.js" th:src="@{/js/jquery-3.2.1.min.js}"></script>
	<!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
	<script src="../static/js/bootstrap.js" th:src="@{/js/bootstrap.js}"></script>
  </body>
</html>